// FUNCTION
@function toRGB ($color) {
    @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

/////////////////////////
// INPUT
/////////////////////////
input {
    border-radius: $border-radius-small;
    padding: 10px 20px;
    font-weight: 500;
    box-shadow: none;
    height: 49px;
    transition: border 150ms linear;

    &::placeholder {
        font-weight: 500;
        opacity: 1;
        transition: color 150ms linear;
    }

    &:focus {
        outline: none;
    }

    &.error {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' style='fill:#{toRGB($red)};' viewBox='-2 -2 7 7'%3e%3cpath style='stroke:#{toRGB($red)};' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");;
        background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 20px 20px;
    }

    &.success {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath style='fill:#{toRGB($green)};' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 20px 20px;
    }

    &[type="file"]{
        display: none;
    }
}
.label-file-passport{
    @extend input;
    margin-bottom: 20px !important;
    padding-bottom: 0;
    cursor: pointer;
    height: auto !important;
    &.error{
        border: 2px dashed $red;
    }
}


/////////////////////////
// BUTTON SUBMIT
/////////////////////////
button[type="submit"] {
    .loader {
        display: none;
    }
    &.loading {
        text-indent: -9999px;
        background-image: none;
        background-color: transparent;
        transition: 0ms;
        &:hover {
            background-image: none;
            background-color: transparent;
        }
        svg {
            display: none;
        }
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            display: block;
            stroke-dasharray: 270px;
            stroke-dashoffset: 0;
            animation: rotate 2s linear reverse infinite;
            width: 25px;
            height: 25px;
            circle {
                stroke: $primaryColor;
            }
        }
    }
    @keyframes rotate {
        50% {
            stroke-dashoffset: 270px;
        }
        50.01% {
            stroke-dashoffset: -270px;
        }
    }
}


/////////////////////////
// NICE SELECT
/////////////////////////
.nice-select {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding-top: 0;
    border-radius: $border-radius-small;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: rem(18px);

    .list {
        border-radius: 0;
        width: 100%;
        @media (max-width: 350px) {
            top: -15px;
        }

        .disabled {
            display: none;
        }
        .option {
            padding: 10px 10px;
            @include media-breakpoint-down(xs) {
                padding: 5px 10px;
                font-size: rem(16px);
            }
            @media (max-width: 350px) {
                padding: 0 10px;
                font-size: rem(15px);
            }
        }
    }
}

/////////////////////////
// MANDATORY
/////////////////////////
.mandatory {
    margin-top: 20px;
    float: right;
    font-size: rem(10px);
}

/////////////////////////
// RADIO-GROUP
/////////////////////////
.radio-group-content {
    margin-bottom: 10px;
}
.radio-group {
    label {
        display: inline-block;
        font-size: rem(16px);
        @include media-breakpoint-down(xs) {
            font-size: rem(13px);
            .checkmark {
                top: 0;
            }
        }
    }
    input {
        cursor: pointer;
        width: auto;
    }
}

/////////////////////////
// LABEL
/////////////////////////
label {
    display: block;
    font-size: rem(12px);
    font-weight: 500;

    @include media-breakpoint-down(md) {
        margin-left: 0;
    }


    &.label-radio-group {
        margin-right: 17px;
        margin-top: 8px;
        font-size: rem(14px);
        @include media-breakpoint-down(xs) {
            margin-right: 5px;
            font-size: rem(13px);
        }
    }

    &.styled-radio {
        margin-right: 17px;
        margin-top: 8px;
        @include media-breakpoint-down(xs) {
            margin-right: 5px;
        }
        span {
            display: inline-block;
            margin: 0;
        }
        label.error {
            position: absolute;
            white-space: nowrap;
            bottom: -20px;
            left: -69px;
            @include media-breakpoint-down(xs) {
                left: -55px;
            }
        }
    }

    span {
        display: block;
        margin-bottom: 8px;
    }

    &.label-text {
        font-size: rem(14px);
    }

    &.text-checkbox {
        margin-top: 5px;
        margin-left: 0;
        span {
            margin: 0;
            font-size: rem(10px);
            line-height: rem(13px);
            font-weight: 300;
        }

        @include media-breakpoint-down(sm) {
            margin-top: -5px;
            margin-bottom: 20px;
        }

        a {
            text-decoration: underline;
        }
    }

    &.error {
        display: block;
        margin-top: -3px;
        margin-right: 20px;
        margin-bottom: 3px;
        font-size: rem(11px);
        font-weight: 400;
        color: $red !important;
    }
}

.rgpd label {
    margin-right: 0;
}

/////////////////////////
// INPUTS
/////////////////////////
.inputs {
    &.inputs-gray {
        input {
            background-color: $lightGray3;
            border: 1px solid $darkGray2;
            margin-bottom: 10px;
            width: 100%;
            color: $tertiaryColor;
            font-size: rem(18px);
            @include media-breakpoint-down(xs) {
                font-size: rem(16px);
            }

            &::placeholder {
                font-size: rem(18px);
                color: $darkGray2;
                @include media-breakpoint-down(xs) {
                    font-size: rem(16px);
                }
            }

            &:focus {
                &::placeholder {
                    color: $tertiaryColor;
                    @include transition(color 150ms linear);
                }
            }

            &.error {
                border: 2px solid $red;
            }

            &.success {
                border: 2px solid $green;
            }
        }
        .label-file-passport{
            border: 1px dashed $darkGray2 !important;
            span{
                color: $darkGray2;
            }
        }
        label {
            color: $darkGray2;

            &.label-radio-group {
                color: $tertiaryColor;
            }

            &.text-checkbox {
                p {
                    color: $darkGray2;
                }

                a {
                    color: $darkGray2;
                }
            }
        }
        .nice-select {
            background-color: $lightGray3;
            border: 1px solid $darkGray2;
            color: $darkGray2;
            &::after {
                border-bottom: 2px solid $darkGray2;
                border-right: 2px solid $darkGray2;
            }

            &:focus {
                span {
                    color: $tertiaryColor;
                }
            }

            &.error {
                border: 2px solid $red;
            }

            &.success {
                border: 2px solid $green;
            }

            .list {
                color: $darkGray2;
            }

            .active {
                color: $tertiaryColor;
            }
        }
        textarea {
            overflow: auto;
            @extend input;
            height: 100px;
            resize: none;
            &.error {
                border: 2px solid $red;
            }
        }
        input, textarea {
            &:-internal-autofill-previewed,
            &:-internal-autofill-selected {
                box-shadow: 0 0 0 1000px $lightGray3 inset !important;
                -webkit-text-fill-color: $tertiaryColor !important;
            }
        }
        .label-file-passport{
            span{
                &.active {
                    color: $tertiaryColor;
                }
            }
        }
        .mandatory {
            color: $darkGray2;
        }
    }
    &.inputs-primary {
        input {
            background-color: transparent;
            border: 2px solid white;
            margin-bottom: 10px;
            width: 100%;
            height: 50px;
            color: white;
            font-size: rem(18px);

            &::placeholder {
                font-size: rem(18px);
                color: white;
            }

            &:focus {
                border: 2px solid $secondaryColor;
                @include transition(border 150ms linear);
            }

            &.error {
                border: 2px solid $redLighter;
                background-image: none;
            }

            &.success {
                border: 2px solid $greenLighter;
                background-image: none;
            }
        }
        .label-file-passport{
            border: 1px dashed white !important;
            span{
                color: white !important;
            }
        }
        label {
            color: white;

            &.label-radio-group {
                color: white;
            }

            &.text-checkbox {
                p {
                    color: white;
                }

                a {
                    color: white;
                }
            }
        }
        .nice-select {
            background-color: transparent;
            border: 2px solid white;
            &::after {
                border-bottom: 2px solid white;
                border-right: 2px solid white;
            }

            &:hover {
                border: 2px solid white;
            }

            &:focus {
                border: 2px solid $secondaryColor;
            }

            &.error {
                border: 2px solid $redLighter;
            }

            &.success {
                border: 2px solid $greenLighter;
            }

            .list {
                color: $primaryColor;
            }
        }
        textarea {
            overflow: auto;
            @extend input;
            height: 100px;
            resize: none;
            &.error {
                border: 2px solid $red;
            }
        }
        input, textarea {
            &:-internal-autofill-previewed,
            &:-internal-autofill-selected {
                box-shadow: 0 0 0 1000px $primaryColor inset !important;
                -webkit-text-fill-color: white !important;
            }
        }
        .btn {
            background-image: none;
            background-color: white;
            color: $primaryColor;
            svg {
                polyline, line {
                    stroke: $primaryColor;
                }
            }
        }
        .mandatory {
            color: white;
        }
    }
}

/////////////////////////
// POST VALIDATION
/////////////////////////
.post-validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    height: auto;
    @include media-breakpoint-down(sm) {
        padding: 0 0 30px 0;
    }

    p {
        margin: 50px 0;
        font-size: rem(18px);
        line-height: rem(30px);
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin-top: 50px;
            font-size: rem(17px);
        }
    }

    &.hidden {
        display: none;
    }

    a {
        margin: 0 auto;
        font-size: rem(17px);
        line-height: rem(17px);
        max-width: 366px;
        padding-right: 80px;
        @include media-breakpoint-down(sm) {
            font-size: rem(14px);
            line-height: rem(14px);
        }
        @include media-breakpoint-down(xs) {
            padding: 0 20px;
            padding-right: 50px;
            svg {
                right: 20px;
            }
        }
        svg {
            height: 17px;
            path {
                fill: white;
            }
        }
        &.brochure {
            svg {
                width: 17px;
                height: 17px;
                right: 36px;
                transform: translate(-50%, -50%);
                transition: top 150ms linear;
                @include media-breakpoint-down(xs) {
                    right: 29px;
                }
            }
            &:hover {
                svg {
                    top: 60%;
                    right: 36px;
                    transition: top 150ms linear;
                    @include media-breakpoint-down(xs) {
                        top: 50%;
                        right: 29px;
                    }
                }
            }
        }
        @include media-breakpoint-down(xs) {
            font-size: rem(15px);
            line-height: rem(15px);
        }
    }
}